:root {
  //===-----------------===
  // Colors
  //===-----------------===
  --clr-gray: hsl(0 0% 41%);
  --clr-black: hsl(0 0% 0%);
  --clr-green-emerald: hsl(133 73% 45%);
  --clr-green-dark: hsl(135 96% 18%);
  --clr-green-black: hsl(138 93% 11%);
}
