---
title: Terry Hamkins
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Terry Hamkins</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="#0">Future logo</a>
      <nav>
        <ul>
          <li><a href="#0">Nav item</a></li>
          <li><a href="#0">Nav item</a></li>
          <li><a href="#0">Nav item</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content">
      <div class="inner">
        {{ content | safe }}
      </div>
    </main>
    <footer>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quidem
        voluptatem provident, magni distinctio accusamus sunt totam cumque
        commodi cum, obcaecati molestias ut ipsam delectus molestiae ipsa
        recusandae, quae dolorum.
      </p>
      <p>&copy; <span class="year">2025</span></p>
    </footer>
  </body>
</html>
