//---------------------------------
//===---------------------------===
// Gallery
//===---------------------------===
//---------------------------------
img {
  max-height: 20rem;
  width: auto;
  max-width: 25rem;
  height: auto;
}
