html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;

  background: var(--clr-black);
}

header {
  position: fixed;

  left: 1rem;
  top: 1rem;

  z-index: 2;

  .logo {
    max-width: 4rem;

    stroke: var(--clr-green-lime);

    filter: drop-shadow(6px 10px 8px rgb(0 0 0 / 0.6));

    z-index: 2;

    transition: transform ease-out 0.2s;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.creepy-trey {
  position: fixed;
  width: 150px;
  height: auto;

  left: -100px;
  right: -100px;

  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  z-index: 2;
}

main {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.falling-image {
  position: fixed;
  top: -150px;

  animation: fall 5s linear infinite;

  z-index: 10;
}

@keyframes fall {
  0% {
    transform: translateY(-150px);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}
