html {
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--clr-black);
}

header {
  .logo {
    max-width: 4rem;

    stroke: var(--clr-green-lime);
  }
}

main {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
}
