---
layout: base-layout.njk
title: Home
---

<div class="gallery">
  {% for image in collections.gallery %}
  <figure>
    <a href="{{ index + 1 }}"><img src="{{ image }}" alt="" /></a>
  </figure>
  {% endfor %}
</div>
